*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*** TITLE ***/

.titleContainer {
  margin: -3rem 0 3rem 0;
}

.title {
  font-size: 2.5rem;
}

/*** BUTTON CONTAINER ***/

#resetGame {
  margin: 1rem 0 3rem 0;
  padding: 6px 12px;
}

#resetGame:active {
  transform: scale(0.9);
}

/*** PLAYERS ***/

.playerContainer {
  display: flex;
}

.playerContainer p {
  margin: 0 3rem;
}

/*** GAME TEXT ***/

.gameTextContainer {
  margin: 3rem 0;
}

#gameText {
  font-size: 1.5rem;
}

/*** GAME CONTAINER ***/

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ticTacToeGrid {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.ticTacToeBox {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
}
