*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ticTacToeGrid {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.ticTacToeBox {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
}
